<style>
  #container {
    width: 100%;
  }
  h1 {
    text-align: center;
  }
  .player {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
</style>

<div id="container" ng-init="login()">
  <h1>{{ header }}</h1>
  <p>Time remaining: {{ timer }}</p>
  <p>Score: {{ score }}</p>
  <p>Guess: {{ guess }}</p>
  <div class="player">
    <audio ng-src="{{ audio }}" controls=""></audio>
    <div class="actionButtons">
      <button ng-click="decide('eminem')">Eminem</button>
      <button ng-click="decide('fall out boy')">Fall Out Boy</button>
    </div>
  </div>
</div>