<style>
  #controls {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #playContent {
    text-align: center;
  }
</style>

<div id="countdown">
  <table align="center" class="play-display">
    <tr>
      <th>Your game will begin in</th>
    </tr>
    <tr>
      <td>{{ countdown }}</td>
    </tr>
  </table>
</div>
<div id="playContent" class="col-md-12">
  <table align="center" class="play-display">
    <tr>
      <th>Score</th>
      <td class="display-border" rowspan="2"></td>
      <th>Time</th>
    </tr>
    <tr>
      <td>{{ score }}</td>
      <td>{{ timer }}</td>
      <!-- <td>0:59</td> -->
    </tr>
  </table>
  <div id="controls" ng-init="login()">
    <audio id="player" ng-src="{{ audio }}" autoplay></audio>
    <div class="actionButtons">
      <button class="btn btn-primary btn-circle" ng-click="decide({{ EMINEM }})">Eminem</button>
      <button class="btn btn-danger btn-circle" ng-click="decide({{ FOB }})">Fall Out<br>Boy</button>
    </div>
  </div>
</div>